<h2>Audio Effects</h2>
<div class="controls">
  <p>
    <input type="button" id="start" value="Start">
    <input type="button" id="stop" value="Stop">
  </p>
  <p id="phaser-fx">
    <input type="button" id="phaser-onoff" value="phaser">
    rate: <input type="range" id="rate" min="0" max="8" step="0.05">
    depth: <input type="range" id="depth" min="0" max="1" step="0.1">
    feedback: <input type="range" id="feedback" min="0" max="0.6" step="0.1">
    stereophase: <input type="range" id="stereophase" min="0" max="180" step="20">
    basemodfreq: <input type="range" id="basemodulationfrequency" min="500" max="1500" step="50">
  </p>
  <p id="tremolo-fx">
    <input type="button" id="tremolo-onoff" value="tremolo">
    intesity: <input type="range" id="intensity" min="0" max="1" step="0.1">
    rate: <input type="range" id="rate" min="0" max="8" step="0.5">
    stereophase: <input type="range" id="stereo-phase" min="0" max="180" step="20">
  </p>
  <p id="chorus-fx">
    <input type="button" id="chorus-onoff" value="chorus">
  </p>
  <p id="overdrive-fx">
    <input type="button" id="overdrive-onoff" value="overdrive">
  </p>
</div>

















