<div class="index-container">
  <div id="drop-zone"></div>
  <p id="upload" class="hidden">
    <label>Drag & drop not supported, but you can still upload via this input field:<br><input type="file"></label>
  </p>

  <div id="soundcloud-url">
    <p>Find a track on http://www.soundcloud.com and paste the URL below in the following format: http://soundcloud.com/artist/track</p>
    <input type="url" placeholder="Paste Soundcloud URL here (http://soundcloud.com/artist/track)">
  </div><!--///////////// close soundcloud-url ////////-->

  <div id="visualiser-canvas"></div><!--///////////close visualiser ////////-->

  <div id="player"></div><!--//////////// player //////////-->
</div>


<div id="sidebar-container">
  <div class="sound-panel">
    <a class="sound-tab" href="#">
    <div id="span-container">
      <span>S</span>
      <span>O</span>
      <span>U</span>
      <span>N</span>
      <span>D</span>
    </div>
    </a>
    <div id="mp3-drop-menu">MP3 DROP</div>
    <div id="soundcloud-menu">SOUNDCLOUD URL</div>
  </div><!--///////////// close sound-panel ////////-->

  <div class="vis-panel">
    <a class="vis-tab" href="#">
    <div id="span-container">
      <span>V</span>
      <span>I</span>
      <span>S</span>
      <span>U</span>
      <span>A</span>
      <span>L</span>
    </div>
    </a>

      <select name="visualisers" id="visualisers_list">
      <option value="sunflare">sunflare</option>
      <option value="lines">lines</option>
      <option value="cubeGrid">cubeGrid</option>
      </select><!--///////////// close select menu ////////-->

     <div id="controllsList">
      <form id="linesSpeedControls">
        <ul>
          <li>SpeedX:<input type="range" id="speedControlX" name="speedControlX" min="-3.9" max="10.0"></li>
          <li>SpeedY:<input type="range" id="speedControlY" name="speedControlY" min="-3.9" max="10.0"></li>
          <li>SpeedZ:<input type="range" id="speedControlZ" name="speedControlZ" min="-3.9" max="10.0"></li>
          <li>Line Thickness: <input type="range" id="lineWidthControler" name="lineWidthControler" min="-0.9" max="10.0"></li>
          <li>Background Color: <input type="color" id="backgroundColorControl" name="backgroundColorControl"></li>
          <input name="start visualizing" type="submit" id="linesSubmit">
        </ul>
      </form><!--////////////////// close form linesSpeedControls//////////-->

      <form id="sunflareControls">
        <ul>
          <li>Rotation SpeedY: <input type="range" id="sunflare-rotationX" name="sunflare-rotationX" min="-50" max="50"></li>
          <li>Rotation SpeedX: <input type="range" id="sunflare-rotationY" name="sunflare-rotationY" min="-50" max="50"></li>
          <li>Type of Star: <input type="range" id="sunflare-size" min="1" max="120"></li>
          <input type="submit" id="sunflareSubmit">
        </ul>
      </form><!--////////////////// close form sunflareControls//////////-->

      <form id="cubeGridControls">
        <ul>
          <li>SpeedX: <input type="range" id="speedControlX" name="speedControlX" min="-3.9" max="10.0"></li>
          <li>SpeedY: <input type="range" id="speedControlY" name="speedControlY" min="-3.9" max="10.0"></li>
          <li>SpeedZ: <input type="range" id="speedControlZ" name="speedControlZ" min="-3.9" max="10.0"></li>
          <li>Background Color: <input type="color" id="backgroundColorControl" name="backgroundColorControl"></li>
          <input type="submit" id="cubeGridSubmit">
        </ul>
      </form><!--////////////////// close form cubeGridControls//////////-->
    </div><!--////////////////// close controllsList //////////-->
  </div><!--///////////// close vis-panel ////////-->

</div><!--///////////// close sidebar-container ////////-->


