<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>rt_freqAnalysis</title>
</head>
<body>
  <h1>Audio Analysis & Effects</h1>
  <div class="controls">
    <div id="holder">
    </div>
    <p id="upload" class="hidden">
      <label>
        Drag & drop not supported, but you can still upload via this input field:<br><input type="file">
      </label>
    </p>

    <div id="player">
      <audio controls="controls">
        <source src="assets/ConfessToMe.mp3" type="audio/mpeg"></source>
      </audio>
    </div>
  </div>
</body>
</html>
