<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>rt_freqAnalysis</title>
</head>
<body>
  <h1>Audio Analysis & Effects</h1>
  <div class="controls">
    <div id="holder">
    </div>
    <p id="upload" class="hidden">
      <label>
        Drag & drop not supported, but you can still upload via this input field:<br><input type="file">
      </label>
    </p>

    <div id="player">
      <audio controls="controls">
        <source src="assets/audio/MakeYouWanna.mp3" type="audio/mpeg"></source>
      </audio>
    </div>
  </div>

  <div id="container">
    <div class="file-panel">
      <a class="file-tab" href="#">File Options</a>

      <h3>test</h3>
      <div id="form-wrap">
        <p>
          Hard charged and convinced it's contagious<br>
          Put away in a box like a beast<br>
          Sweat salt watch my back<br>
          Like a ivcrime boss<br>
          My life's blood siphoned out of me<br>
          Take my power and trade it away<br>
          Now I live in Kryptonite<br>
          Do what I must to have it again<br>
          And I'll explode the planet tonight
        </p>
      </div>
    </div>

    <div class="vis-panel">
      <a class="vis-tab" href="#">Visualiser Options</a>

      <h3>test</h3>
      <div id="form-wrap">
        <p>
          Hard charged and convinced it's contagious<br>
          Put away in a box like a beast<br>
          Sweat salt watch my back<br>
          Like a crime boss<br>
          My life's blood siphoned out of me<br>
          Take my power and trade it away<br>
          Now I live in Kryptonite<br>
          Do what I must to have it again<br>
          And I'll explode the planet tonight
        </p>
      </div>
    </div>
  </div>
</body>
</html>
