<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>rt_freqAnalysis</title>
</head>
<body>
  <div class="index-container">
    <div id="drop-zone"></div>
    <p id="upload" class="hidden">
      <label>Drag & drop not supported, but you can still upload via this input field:<br><input type="file"></label>
    </p>

    <div id="player">
      <audio controls="controls">
        <source src="/audio/MakeYouWanna.mp3" type="audio/mpeg"></source>
      </audio>
    </div>
  </div>
</body>
</html>
