<div class="index-container">
  <div id="drop-zone"></div>
  <p id="upload" class="hidden">
    <label>Drag & drop not supported, but you can still upload via this input field:<br><input type="file"></label>
  </p>

  <div id="soundcloud-url">
    <p>Find a track on http://www.soundcloud.com and paste the URL below in the following format: http://soundcloud.com/artist/track</p>
    <input type="url" placeholder="Paste Soundcloud URL here (http://soundcloud.com/artist/track)">
  </div>

  <div id="player">
    <audio controls="controls">
      <source src="/audio/MakeYouWanna.mp3" type="audio/mpeg"></source>
    </audio>
  </div>
</div>

<div id="sidebar-container">
  <div class="sound-panel">
    <a class="sound-tab" href="#">
      <span>S</span>
      <span>o</span>
      <span>u</span>
      <span>n</span>
      <span>d</span>
    </a>
    <div id="mp3-drop-menu">MP3 DROP</div>
    <div id="soundcloud-menu">SOUNDCLOUD URL</div>
  </div>

  <div class="vis-panel">
    <a class="vis-tab" href="#">
      <span>V</span>
      <span>i</span>
      <span>s</span>
      <span>u</span>
      <span>a</span>
      <span>l</span>
    </a>

      <select name="visualisers" id="visualisers_list">
      <option value="sunflare">sunflare</option>
      <option value="lines">lines</option>
      <option value="emitter">emitter</option>
      <option value="galaxy">galaxy</option>
      <option value="cubeGrid">cubeGrid</option>
      <option value="flat">flat</option>
      </select>

    <form id="linesSpeedControls">
      <ul>
        <li>SpeedX: <input type="range" id="speedControlX" name="speedControlX" min="-3.9" max="10.0"></li>
        <li>SpeedY: <input type="range" id="speedControlY" name="speedControlY" min="-3.9" max="10.0"></li>
        <li>SpeedZ: <input type="range" id="speedControlZ" name="speedControlZ" min="-3.9" max="10.0"></li>
        <li>Line Thickness: <input type="range" id="lineWidthControler" name="lineWidthControler" min="-0.9" max="10.0"></li>
        <li>Background Color: <input type="color" id="backgroundColorControl" name="backgroundColorControl"></li>
        <input type="submit" id="linesSubmit">
      </ul>
    </form>

    <form id="sunflareControls">
      <ul>
        <li>SpeedX: <input type="range" id="speedControlX" name="speedControlX" min="-3.9" max="10.0"></li>
        <li>SpeedY: <input type="range" id="speedControlY" name="speedControlY" min="-3.9" max="10.0"></li>
        <li>SpeedZ: <input type="range" id="speedControlZ" name="speedControlZ" min="-3.9" max="10.0"></li>
        <li>Line Thickness: <input type="range" id="lineWidthControler" name="lineWidthControler" min="-0.9" max="10.0"></li>
        <li>Background Color: <input type="color" id="backgroundColorControl" name="backgroundColorControl"></li>
        <input type="submit" id="sunflareSubmit">
      </ul>
    </form>

    <form id="cubeGridControls">
      <ul>
        <li>SpeedX: <input type="range" id="speedControlX" name="speedControlX" min="-3.9" max="10.0"></li>
        <li>SpeedY: <input type="range" id="speedControlY" name="speedControlY" min="-3.9" max="10.0"></li>
        <li>SpeedZ: <input type="range" id="speedControlZ" name="speedControlZ" min="-3.9" max="10.0"></li>
        <li>Line Thickness: <input type="range" id="lineWidthControler" name="lineWidthControler" min="-0.9" max="10.0"></li>
        <li>Background Color: <input type="color" id="backgroundColorControl" name="backgroundColorControl"></li>
        <input type="submit" id="cubeGridSubmit">
      </ul>
    </form>

    <div id="form-wrap">
      <p>
        Hard charged and convinced it's contagious<br>
        Put away in a box like a beast<br>
        Sweat salt watch my back<br>
        Like a crime boss<br>
        My life's blood siphoned out of me<br>
        Take my power and trade it away<br>
        Now I live in Kryptonite<br>
        Do what I must to have it again<br>
        And I'll explode the planet tonight
      </p>
    </div>
  </div>
</div>

</div><!--///////////// close sidebar-container ////////-->
<div id="visualiser"></div><!--///////////close visualiser ////////-->


