.sound-panel, .vis-panel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sound-panel {
  width: 250px;
  background: #2F3030;
  /*padding: 15px;*/
  /*border: #29216d 1px solid;*/
  position:absolute;
  top:100px;
  left:-250px;
  padding-bottom: 50px;
}
a.sound-tab, a.vis-tab {
  display: block;
  background: #2F3030;
  position: relative;
  bottom: 0px;
  font-size: 1.5em;
  padding: 12px 8px 12px 8px;
  text-decoration: none;
  color: #B9BFBD;
}

a.sound-tab {
  float: right;
  left: 28px;
  border-radius: 0px 5px 5px 0px;
}

a.sound-tab span {
  display: block;
}

.vis-panel {
  width: 250px;
  background: #2F3030;
  position:absolute;
  top:100px;
  right:-250px;
  padding-bottom: 30px;
}

a.vis-tab {
  float: left;
  right: 28px;
  border-radius: 5px 0px 0px 5px;
  border-width: 1px 0px 1px 1px;
}

a.vis-tab span {
  display: block
}

#mp3-drop-menu, #soundcloud-menu {
  text-align: center;
  padding-bottom: 15px;
  font-size: 22px;
  color: #B9BFBD;
  /*text-shadow: 0px 0px 15px white, 2px 2px 3px black;*/
  /*border-bottom: 1px solid #94FFFF;*/
  cursor: pointer;
  padding-top: 20px;
  border-bottom: 1px solid #B5FFFB;
}

#mp3-drop-menu:hover,
#soundcloud-menu:hover,
#sign-in-link:hover a,
#sign-up-link:hover a {
  color: #B5FFFB;
  text-shadow: 0px 0px 10px white, 2px 2px 3px black;
  /*border-bottom: 4px solid #B5FFFB;*/
  /*box-shadow: 0 0 15px white;*/
}

#span-container:hover {
  display: block;
  color: #B5FFFB;
  text-shadow: 0px 0px 10px white, 2px 2px 3px black;
}




