.sign-in-form {
  width: 630px;
  position: relative;
  right: -610px;
  padding-top: 5px;
  display: none;
}

.sign-in-form-animate {
  right: -750px;
}

.sign-in-form input[type=text], input[name=password], textarea{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 2px 0px 2px 2px;
  margin: 3px 1px 3px 0px;
  border: 2px solid #B5FFFB;
  font-size: 1em;
}

.sign-in-form  label{
  font-size: 1.2em;
  text-transform: uppercase;
}

input[name=commit]{
  position-left: 200px;
  border: 0;
  margin: 0;
  text-shadow: 2px 2px #FFF;
  position: relative;
  padding: 4px 3px;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-appearance:none;
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  /*-ms-transform: translate(2px,3px); /* IE 9
  -webkit-transform: translate(2px,3px); /* Chrome, Safari, Opera */
  transform: translate(2px,3px);*/
  color: #B9BFBD;
  text-decoration: none;
  vertical-align: top;
}

input[name=commit]:hover{
  background-color: #B5FFFB;
  position-left: 200px;
  border: 0;
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
  text-shadow: 2px 2px #FFF;
  position: relative;
  padding: 4px 3px;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-appearance:none;
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  /*-ms-transform: translate(2px,3px); /* IE 9
  -webkit-transform: translate(2px,3px); /* Chrome, Safari, Opera */
  transform: translate(2px,3px);*/
  color: #B9BFBD;
  text-decoration: none;
}

#signup{
  width: 30%;
  margin: auto;
  padding-top: 7%;
}

#signup h2{
  font-size: 2em;
}

#signup input[type=text], input[name=signup_p], input[name=signup_confirm], textarea{
  font-size: 1.2em;
  width: 100%;
  border-style: 0;
  border-radius: 1;
}

#signup h3{
  font-size: 1.2em;
}

#user_password{
  font-size: 1.2em;
  width: 100%;
  border-style: 0;
  border-radius: 1;
}

#user_password_confirmation{
  font-size: 1.2em;
  width: 100%;
  border-style: 0;
  border-radius: 1;
}


#title a{
  color: #B9BFBD;
  text-decoration: none;
}

#title a:hover{
  color: #B5FFFB;
  text-shadow: 0px 0px 10px white, 2px 2px 3px black;
}

.log-out-link a{
  color: #B9BFBD;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

.log-out-link a:hover{
  color: #B5FFFB;
  text-shadow: 0px 0px 10px white, 2px 2px 3px black;
}




